<div class="container">
  <div class="row">
      <div class="col lg-8 my-3">

        <div class="row justify-content-md-center" style="margin: 5px;">

          <div class="col-lg">

            <h1 class="text-center">Olá Seja Bem Vindo</h1>

            <h1 class="text-center">Oque deseja editar ?</h1>

            
            <a class="nav-link text-warning" href="/">HOME</a>

            <a class="nav-link text-warning" href="/admin/rankingmjRegister">RANKING-M</a>

            <a class="nav-link text-warning" href="/admin/rankingfRegister">RANKING-F</a>
          
            <a class="nav-link text-warning" href="/rankingfullRegister/rankingfull">RANKING-FULLLEVEL</a>

            <a class="nav-link text-warning" href="/admin/rankingbrRegister">RANKING-BR</a>

          </div>

        </div>
      </div>
  </div>
</div>