<style>
  /* @import url(//db.onlinewebfonts.com/c/7b03fdb6d9bfa7c997bc732b5e8918e2?family=Forgotten+Futurist);
  p {
      font-family: "Forgotten+Futurist";
  } */
  .container {
      background: black;
  }
  .table {
      margin: 0 auto;
      background: #363636;
  }
  a {
    display: block;
  }
  .textRanking a {
    color: #FFD700;
  }
  .textRanking > p{
    color: #FFD700;
    text-align: center;
    font-size: 1.3rem;
  }
  .textRanking > p > b{
    color: #FFD700;
  }
  .textRanking > h2{
    color: #FFD700;
  }
  .textRanking{
    text-align: center;
    border-radius: 20px 20px 0px 0px;
      
  }
  .textRanking{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 980px) {
    .fundoM {
      height: 95%;
      width: 95%;
    }
    .textRanking{
      height: 100%;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>

<!-- <div class="fundoM">
  <img src="https://cdn.discordapp.com/attachments/642859069257941002/744181647707996241/fundoM.png" alt="Chicago" style="width:100%;">
</div> -->

<div class="textRanking">
  <h2></h2>
  <p>Fundada em 20/03/2019, antes da Beta teste, eramos uma pequena comunidade a espera do game. A comunidade foi crescendo com o intuito de se preparar para o competitivo, ajudando a unir jogadores, formando pequenas equipes e clãs.</p>
  <p>Quando o game foi lançado, ja tínhamos varios grupos e aos poucos a comunidade que era pequena, foi ganhando novos membros e outros canais como Instagram, <a href="https://discord.gg/GtFUe8B">Discord</a>, grupo no Facebook e aplicativo.</p>
  <p>Nossa missão no inicio do cenário foi sempre tentar trazer as melhores organizações de campeonatos, de outros games para apoiar o cenário com seus eventos, tendo em vista que bossas tentativas de chamar a atenção da desenvolvedora nunca foi tão eficaz. Então estamos aqui para fazer pela comunidade, o que a desenvolvedora do game não faz que é olhar para o cenário SA e promover eventos para o cenário competitivo.</p>
  <p>Hoje contamos com mais de 10 organizações parceiras que ajudam a movimentar o cenário com seus maravilhosos eventos e que fazem parte do Ranking SA, não oficial de cod mobile criado por nós para ajudar às equipes a serem mais competitivas e traçarem o sucesso de suas equipes, levando elas ao topo.</p>
</div>
